version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: g8-microservice
    ports:
      - "3333:3333"
    env_file:
      - .env
    depends_on:
      - database
    networks:
      - api_network
    volumes:
      - .:/app
      - /app/node_modules

  database:
    image: postgres:16
    container_name: g8_postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    networks:
      - api_network
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

networks:
  api_network:
    driver: bridge