version: "3.9"

services:
  database:
    image: postgres:16
    container_name: g8_postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    networks:
      - api_network
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: g8-microservice
    ports:
      - "3333:3333"
    env_file:
      - .env
    environment:
       DOCKER: "true"
    depends_on:
      database:
        condition: service_healthy
    networks:
      - api_network
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  pgdata:

networks:
  api_network:
    driver: bridge
